public/assets/perf-spect/perf-spect.html
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">

  <title>Presenting</title>
  <!-- Bootstrap CSS CDN -->
  <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- PDFjs essentials -->
  <script type="text/javascript" src="/assets/pdfjs_essential/pdf.js"></script>
  <script type="text/javascript" src="/assets/pdfjs_essential/text_layer_builder.js"></script>
  <link type="text/css" href="/assets/pdfjs_essential/text_layer_builder.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link type="text/css" href="/assets/perf-spect/style/style.css" rel="stylesheet">

  <!-- Custom Javascript -->
  <script type="text/javascript" src="/assets/perf-spect/scripts/onDocReady.js"></script>
  <script type="text/javascript" src="/#{role}/scripts/init.js"></script>
  <script type="text/javascript" src="/assets/perf-spect/scripts/ui.js"></script>
  <script type="text/javascript" src="/assets/perf-spect/scripts/presenter.js"></script>
  <script type="text/javascript" src="/assets/perf-spect/scripts/websocket.js"></script>
</head>

<body>
  <div class="wrapper bg-secondary">
    <!-- CHAT panel -->
    <div id="sidebar">

      <!-- MESSAGE box -->
      <div class="container" id="message_box"></div>

      <!-- COMPOSER box -->
      <div class="input-group comp-cont" style="height:20vh">
        <textarea name="chat_composer" id="chat_composer" class="form-control" type="text" placeholder="Type your message..."></textarea>
        <button id="chat-send-button" class="btn btn-default btn-danger" type="submit" onclick="chatSend()" style="height: 100%; border-radius: 0px; border: 1px solid #ced4da; border-left-width: 0;"><i class="material-icons">send</i></button>
      </div>
    </div>

    <div id="controls-panel" class="bg-light">
      <nav class="navbar navbar-expand-lg p-0">
        <!--CONTROLS-->
        <div id="controls" class="flex-column" style="max-width:90px">
          <div class="btn-group-vertical">
            <!--sidebar toggle-->
            <button type="button" id="sidebar_collapse" class="p-1 btn btn-block btn-change-on-fsc" onclick="toggleSidepanel()">
              <i id="sidepanel_state_icon" class="material-icons">format_indent_decrease</i>
            </button>
            <!--prev next-->
            <button id="prev_page" class="btn btn-block btn-change-on-fsc" style="padding: .2rem .4rem;" onclick="uiCheck(-1, 'btn')"><i class="material-icons">chevron_left</i></button>
            <button id="next_page" class="btn btn-block btn-change-on-fsc" style="padding: .2rem .4rem;" onclick="uiCheck(1, 'btn')"><i class="material-icons">chevron_right</i></button>
            <!--page number-->
            <div class="input-group mb-3 input-group-sm" style="margin: 0px !important;">
              <div class="input-group-prepend">
                <span class="input-group-text" style="margin: 0; padding-right: .1rem; padding-left: .1rem;"><i class="material-icons">description</i></span>
              </div>
              <input type="text" id="page_num" class="form-control" style="margin: 0; padding-right: .1rem; padding-left: .1rem;" onchange="uiCheck(this.value, 'inp')">
              <input type="text" id="page_count" class="form-control" style="margin: 0; padding-right: .1rem; padding-left: .1rem;" disabled>
            </div>
            <!--go live-->
            <button id="go-live-btn" type="button" class="btn btn-block btn-outline-primary btn-change-on-fsc" data-bs-toggle="button" autocomplete="off" onclick="toggleLive(this)">
              <i id="live_icon" class="material-icons">portable_wifi_off</i>
            </button>
            <!--Fulscreen button-->
            <button id="fullscreen-btn" type="button" class="btn btn-block btn-outline-primary btn-change-on-fsc" data-bs-toggle="button" autocomplete="off" onclick="toggleFullscreen(this)">
              <i class="material-icons">fullscreen</i>
            </button>
            <button id="immersive-btn" type="button" class="btn btn-block btn-outline-primary btn-change-on-fsc" data-bs-toggle="button" autocomplete="off" onclick="toggleFullscreen(this)">
              <i class="material-icons">center_focus_strong</i><i class="material-icons">auto_fix_normal</i>
            </button>
          </div>

          <!--links-->
          <div id="side-panel-links" class="btn-group-vertical">
            <a class="btn btn-light" href="/" role="button">Home</a>
            <a class="btn btn-light" href="/edit" role="button">New</a>
            <a class="btn btn-light" href="/browse" role="button">Browse</a>
            <a class="btn btn-light" href="/about" role="button">About us</a>
          </div>
        </div>
      </nav>
    </div>
    <!--PRESENTATION-->
    <div id="pres_cont" class="container-fluid">
      <div class="row align-middle">
        <canvas id="the-canvas" class="pdf-cont mx-auto d-block" style="max-height: 100vh; height: auto; width: auto; padding: 0;"></canvas>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>

views/perf-spect.pug
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel='shortcut icon' href='/favicon.svg' type='image/svg+xml')
  title Presenting
  // Bootstrap CSS CDN
  link(href='/assets/bootstrap/bootstrap.min.css' rel='stylesheet')
  // Bootstrap JS
  script(src='/assets/bootstrap/bootstrap.bundle.min.js')
  // Icons
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp')
  // PDFjs essentials
  script(type='text/javascript' src='/assets/pdfjs_essential/pdf.js')
  script(type='text/javascript' src='/assets/pdfjs_essential/text_layer_builder.js')
  link(type='text/css' href='/assets/pdfjs_essential/text_layer_builder.css' rel='stylesheet')
  // Custom CSS
  link(type='text/css' href='/assets/perf-spect/style/style.css' rel='stylesheet')
  // Custom Javascript
  script(type='text/javascript' src='/assets/perf-spect/scripts/presenter.js')
  script(type='text/javascript' src='/assets/perf-spect/scripts/ui.js')
  script(type='text/javascript' src=`/${role}/scripts/init.js`)
  script(type='text/javascript' src='/assets/perf-spect/scripts/onDocReady.js')
  script(type='text/javascript' src='/assets/perf-spect/scripts/websocket.js')
.wrapper.bg-secondary
  // CHAT panel
  #sidebar
    // MESSAGE box
    #message_box.container
    // COMPOSER box
    .input-group.comp-cont(style='height:20vh')
      textarea#chat_composer.form-control.btn-dynamic(name='chat_composer' type='text' placeholder='Type your message...')
      button#chat-send-button.btn.btn-default.btn-danger.btn-dynamic(type='submit' onclick='chatSend()' style='height: 100%; border-radius: 0px; border: 1px solid #ced4da; border-left-width: 0;')
        i.material-icons send
  #controls-panel.bg-light
    nav.navbar.navbar-expand-lg.p-0
      // CONTROLS
      #controls.flex-column(style='max-width:90px; width:90px; padding: 0px .13rem;')
        .btn-group-vertical(style='width: 100%; padding-top: .3rem;')
          // sidebar toggle
          button#sidebar_collapse.p-1.btn.btn-outline-secondary.btn-block.btn-change-on-fsc.btn-dynamic(type='button' onclick='toggleSidepanel()')
            i#sidepanel_state_icon.material-icons-outlined chat
          // prev next
          button#prev_page.btn.btn-block.btn-outline-secondary.btn-change-on-fsc.btn-dynamic(onclick="uiCheck(-1, 'btn')")
            i.material-icons chevron_left
          button#next_page.btn.btn-block.btn-outline-secondary.btn-change-on-fsc.btn-dynamic(onclick="uiCheck(1, 'btn')")
            i.material-icons chevron_right
        // page number
        .input-group.mb-3.input-group-sm(style='margin: 0px !important; padding-top: .7rem;')
          .input-group-prepend
            span.input-group-text(style='margin: 0; padding-right: .1rem; padding-left: .1rem;')
              i.material-icons description
          input#page_num.form-control(type='text' style='margin: 0; padding-right: .1rem; padding-left: .1rem;' onchange="uiCheck(this.value, 'inp')")
          input#page_count.form-control(type='text' style='margin: 0; padding-right: .1rem; padding-left: .1rem;' disabled='')
        .btn-group-vertical(style='width: 100%; padding-top: .7rem;')
          // go live
          button#go-live-btn.btn.btn-block.btn-outline-secondary.btn-change-on-fsc.btn-dynamic(type='button' data-bs-toggle='button' autocomplete='off' onclick='toggleLive(this)')
            i#live_icon.material-icons portable_wifi_off
          button#share-pointer-btn.btn.btn-block.btn-outline-secondary.btn-change-on-fsc.btn-dynamic(type='button' data-bs-toggle='button' autocomplete='off' onclick='togglePointer(this)')
            i.material-icons auto_fix_off
        .btn-group-vertical(style='width: 100%; padding-top: .7rem;')
          // Fulscreen button
          button#fullscreen-btn.btn.btn-block.btn-outline-secondary.btn-change-on-fsc(type='button' data-bs-toggle='button' autocomplete='off' onclick='toggleFullscreen(this)')
            i.material-icons fullscreen
          button#immersive-btn.btn.btn-block.btn-outline-secondary.btn-change-on-fsc(type='button' data-bs-toggle='button' autocomplete='off' onclick='toggleFullscreen(this)')
            i.material-icons center_focus_strong
        // links
        #side-panel-links.btn-group-vertical
          a.btn.btn-light(href='/' role='button') Home
          a.btn.btn-light(href='/edit' role='button') New
          a.btn.btn-light(href='/browse' role='button') Browse
          a.btn.btn-light(href='/about' role='button') About us
  // PRESENTATION
  // #content-container(tabindex="-1" style="height: 100vh; width: 100%;")
  #pres_cont.container-fluid(tabindex="-1" style='padding: 0px !important; margin: 0px !important; height: 100vh; width: 100%; outline: none;')
    .row.align-middle(style='padding: 0 !important; margin: 0 !important;')
      #pres-loading-spinner.spinner-grow.text-dark(role='status', style='z-index: 10; height: 50vh; width: 50vh;')
        span.visually-hidden Loading...
      span#canvas-pointer(style="margin:0; padding: 0; position: absolute; width: auto") ◉
      canvas#the-canvas.pdf-cont.mx-auto.d-none(style='margin: 0 !important; padding: 0 !important; max-height: 100vh; height: auto; width: auto;')
